@font-face {
  font-family: "Flanders Art Sans";
  src: url("/assets/fonts/FlandersArtSans-Regular.woff2") format("woff2"),
       url("/assets/fonts/FlandersArtSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Flanders Art Sans";
  src: url("/assets/fonts/FlandersArtSans-Medium.woff2") format("woff2"),
       url("/assets/fonts/FlandersArtSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Flanders Art Sans";
  src: url("/assets/fonts/FlandersArtSans-Bold.woff2") format("woff2"),
       url("/assets/fonts/FlandersArtSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --md-primary-fg-color: #447a6d;
  --md-primary-fg-color--dark: #2d5957;
  --md-accent-fg-color: #447a6d;
}

html, body {
  font-family: "Flanders Art Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
